[Desktop Entry]
Categories=System;
Comment=Show desktop or show windows
Exec=/usr/lib/deepin-daemon/desktop-toggle
GenericName=Show Desktop
Icon=deepin-toggle-desktop
Name=Show Desktop
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true

# Translations:
# Do not manually modify!
Comment[am_ET]=ዴስክቶፕ ወይንም መስኮቶች ማሳያ
Comment[ar]=إظهار سطح المكتب أو إظهار النوافذ
Comment[ast]=Amosar escritoriu o ventanes
Comment[az]=Masaüstü və ya şou pəncərələrini göstərin
Comment[bg]=Показване на десктопа или показване на прозорците
Comment[bn]=ডেস্কটপ দেখান অথবা উইন্ডো দেখান
Comment[ca]=Mostra l'escriptori o mostra les finestres
Comment[cs]=Ukázat pracovní plochu nebo ukázat okna
Comment[da]=Vis skrivebord eller vinduer
Comment[de]=Desktop oder Fenster anzeigen
Comment[el]=Εμφάνιση επιφάνειας εργασίας ή εμφάνιση παραθύρων
Comment[es]=Mostrar escritorio o mostrar ventanas
Comment[es_419]=Mostrar escritorio o mostrar ventanas
Comment[fa]=نمایش میز کار یا نمایش پنجره ها
Comment[fi]=Näytä työpöytä tai näytä ikkunat
Comment[fr]=Afficher le bureau ou afficher les fenêtres  
Comment[gl_ES]=Amosar escritorio ou amosar xanelas
Comment[hi_IN]=डेस्कटॉप या विंडोज दिखाएँ
Comment[hr]=Pokaži radnu površinu ili pokaži prozore
Comment[hu]=Asztal megjelenítése, vagy ablak megjelenítése
Comment[id]=Tampilkan desktop atau tampilkan jendela-jendela
Comment[it]=Mostra desktop o mostra finestre
Comment[ja]=デスクトップもしくはウィンドウを表示
Comment[lt]=Rodyti darbalaukį arba rodyti langus
Comment[mn]=Дэлгэц харуулах эсвэл цонхнууд харуулах
Comment[ms]=Tunjuk desktop atau tunjuk tetingkap
Comment[nb]=Vis skrivebord eller vis vinduer
Comment[ne]=डेस्कटप देखाउनुहोस् वा विन्डो देखाउनुहोस्
Comment[nl]=Toon Bureaublad of Toon Vensters
Comment[pl]=Wyświetl pulpit lub wyświetl okna
Comment[pt]=Mostrar ambiente de trabalho ou janelas
Comment[pt_BR]=Mostrar área de trabalho ou mostrar janela
Comment[ro]=Arată desktop-ul sau arată ferestrele
Comment[ru]=Показать рабочий стол или показать окна
Comment[sk]=Zobraziť plochu alebo zobraziť okná
Comment[sl]=Prikaži namizje ali prikaži okna
Comment[sr]=Прикажи површину или прикажи прозоре
Comment[sv]=Visa skrivbord eller visa fönster
Comment[ta]=திரைமுகப்பு அல்லது சாளரம் காட்டு
Comment[tr]=Masaüstünü ya da penceleri görüntüle
Comment[ug]=ئۈستەل يۈزى ياكى كۆزنەكنى كۆرۈش
Comment[uk]=Показати робочий стіл або вікна
Comment[vi]=Hiện trang chính hoặc hện các cửa sổ
Comment[zh_CN]=显示桌面或者显示所有窗口
Comment[zh_TW]=顯示桌面或還原視窗
GenericName[am_ET]=ዴስክቶፕ ማሳያ
GenericName[ar]=إظهار سطح المكتب
GenericName[ast]=Amosar escritoriu
GenericName[az]=Masaüstünü göstərin
GenericName[bg]=Покажи работния плот
GenericName[bn]=ডেস্কটপ দেখান
GenericName[ca]=Mostra l'escriptori
GenericName[cs]=Ukázat pracovní plochu
GenericName[da]=Vis skrivebord
GenericName[de]=Desktop anzeigen
GenericName[el]=Εμφάνιση Επιφάνειας Εργασίας
GenericName[es]=Mostrar escritorio
GenericName[es_419]=Mostrar escritorio
GenericName[fa]=نمایش میز کار
GenericName[fi]=Näytä työpöytä
GenericName[fr]=Afficher le bureau
GenericName[gl_ES]=Amosar escritorio
GenericName[hi_IN]=डेस्कटॉप दिखाएँ
GenericName[hr]=Prikaži radnu površinu
GenericName[hu]=Asztal megjelenítése
GenericName[id]=Tampilkan Desktop
GenericName[it]=Mostra desktop
GenericName[ja]=デスクトップを表示
GenericName[ko]=데스크톱 보기
GenericName[lt]=Rodyti darbalaukį
GenericName[mn]=Дэлгэц харуулах
GenericName[ms]=Tunjuk Desktop
GenericName[nb]=Vis skrivebord
GenericName[ne]=डेस्कटप देखाउनुहोस्
GenericName[nl]=Toon Bureaublad
GenericName[pl]=Wyświetl pulpit
GenericName[pt]=Mostrar Ambiente de Trabalho
GenericName[pt_BR]=Mostrar área de trabalho
GenericName[ro]=Arată desktop-ul
GenericName[ru]=Показать Рабочий стол
GenericName[sk]=Zobraziť plochu
GenericName[sl]=Prikaži namizje
GenericName[sr]=Прикажи радну површину
GenericName[sv]=Visa skrivbord
GenericName[ta]=திரைமுகப்பு  காட்டு
GenericName[tr]=Masaüstünü Görüntüle
GenericName[ug]=ئۈستەل يۈزىنى كۆرۈش
GenericName[uk]=Показати робочий стіл
GenericName[vi]=Hiện Trang chính
GenericName[zh_CN]=显示桌面
GenericName[zh_TW]=顯示桌面
Name[am_ET]=ዴስክቶፕ ማሳያ
Name[ar]=إظهار سطح المكتب
Name[ast]=Amosar escritoriu
Name[az]=Masaüstünü göstərin
Name[bg]=Покажи работния плот
Name[bn]=ডেস্কটপ দেখান
Name[ca]=Mostra l'escriptori
Name[cs]=Ukázat pracovní plochu
Name[da]=Vis skrivebord
Name[de]=Desktop anzeigen
Name[el]=Εμφάνιση Επιφάνειας Εργασίας
Name[es]=Mostrar escritorio
Name[es_419]=Mostrar escritorio
Name[fa]=نمایش میز کار
Name[fi]=Näytä työpöytä
Name[fr]=Afficher le bureau
Name[gl_ES]=Amosar escritorio
Name[hi_IN]=डेस्कटॉप दिखाएँ
Name[hr]=Prikaži radnu površinu
Name[hu]=Asztal megjelenítése
Name[id]=Tampilkan Desktop
Name[it]=Mostra desktop
Name[ja]=デスクトップを表示
Name[ko]=데스크톱 보기
Name[lt]=Rodyti darbalaukį
Name[mn]=Дэлгэц харуулах
Name[ms]=Tunjuk Desktop
Name[nb]=Vis skrivebord
Name[ne]=डेस्कटप देखाउनुहोस्
Name[nl]=Toon Bureaublad
Name[pl]=Wyświetl pulpit
Name[pt]=Mostrar Ambiente de Trabalho
Name[pt_BR]=Mostrar área de trabalho
Name[ro]=Arată desktop-ul
Name[ru]=Показать Рабочий стол
Name[sk]=Zobraziť plochu
Name[sl]=Prikaži namizje
Name[sr]=Прикажи радну површину
Name[sv]=Visa skrivbord
Name[ta]=திரைமுகப்பு  காட்டு
Name[tr]=Masaüstünü Görüntüle
Name[ug]=ئۈستەل يۈزىنى كۆرۈش
Name[uk]=Показати робочий стіл
Name[vi]=Hiện Trang chính
Name[zh_CN]=显示桌面
Name[zh_TW]=顯示桌面

